absl-py==0.12.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colour==0.1.5
ConfigSpace==0.4.18
cycler==0.10.0
Cython==0.29.22
dask==2021.3.1
deepdiff==5.2.3
dill==0.3.3
distributed==2021.3.1
docopt==0.6.2
enum34==1.1.10
fsspec==0.8.7
future==0.18.2
gitdb==4.0.7
GitPython==3.1.14
guppy3==3.1.0
gym==0.18.0
HeapDict==1.0.1
idna==2.10
joblib==1.0.1
jsonpickle==1.5.2
kiwisolver==1.3.1
lazy-import==0.2.2
locket==0.2.1
matplotlib==3.4.1
memory-profiler==0.58.0
mock==4.0.3
mpyq==0.2.5
msgpack==1.0.2
munch==2.5.0
numpy==1.20.2
numpy-stl==2.16.0
ordered-set==4.0.2
packaging==20.9
partd==1.1.0
Pillow==7.2.0
portpicker==1.3.1
protobuf==3.15.6
psutil==5.8.0
py-cpuinfo==7.0.0
pygame==2.0.1
pyglet==1.5.0
Pympler==0.9
pynisher==0.6.4
pyparsing==2.4.7
pyrfr==0.8.1
PySC2==3.0.0
python-dateutil==2.8.1
python-twitch-stream==1.0.2
python-utils==2.5.6
PyYAML==5.4.1
requests==2.25.1
s2clientprotocol==5.0.6.83830.0
s2protocol==5.0.6.83830.0
sacred==0.8.2
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sk-video==1.1.10
smmap==4.0.0
sortedcontainers==2.3.0
tblib==1.7.0
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.8.1
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.4
websocket-client==0.58.0
whichcraft==0.6.1
wrapt==1.12.1
zict==2.0.0
