absl-py==0.12.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
colorama==0.4.4
colour==0.1.5
cycler==0.10.0
docopt==0.6.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gil==1.14.0.0
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.1
gym==0.18.0
h5py==3.1.0
idna==2.10
importlib-metadata==4.0.1
jsonpickle==1.5.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
memory-profiler==0.58.0
munch==2.5.0
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
Pillow==7.2.0
protobuf==3.17.1
psutil==5.8.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-twitch-stream==1.0.2
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sacred==0.8.2
scipy==1.6.3
six==1.15.0
smmap==4.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
torch==1.8.0
torchvision==0.9.0
torchviz==0.0.2
typing-extensions==3.7.4.3
urllib3==1.26.5
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
