certifi==2020.12.5
cloudpickle==1.6.0
colorama==0.4.4
colour==0.1.5
docopt==0.6.2
future==0.18.2
gil==1.14.0.0
gitdb==4.0.7
GitPython==3.1.14
gym==0.18.0
importlib-metadata==4.0.1
jsonpickle==1.5.2
munch==2.5.0
numpy==1.20.2
packaging==20.9
Pillow==7.2.0
py-cpuinfo==8.0.0
pygame==2.0.1
pyglet==1.5.0
pyparsing==2.4.7
python-twitch-stream==1.0.2
PyYAML==5.4.1
sacred==0.8.2
scipy==1.6.3
six==1.15.0
smmap==4.0.0
typing-extensions==3.7.4.3
wrapt==1.12.1
zipp==3.4.1
